.page {
    display: flex;
    flex-direction: column;
    background-color: #000000;
    justify-content: center;
    padding: 0;
    margin: 0 auto;
    width: 100%;
}
/*
@media screen and (max-width: 1279px) {
    .page {
        max-width: 1024px;
    }
}
@media screen and (max-width: 1023px) {
    .page {
        max-width: 768px;
    }
}
@media screen and (max-width: 767px) {
    .page {
        max-width: 320px;
    }
}