.profile {
    display: flex;
    justify-content: space-between;
    padding: 36.25px 0 0;
    align-items: center;
}
@media screen and (max-width: 767px) {
    .profile {
        flex-direction: column;
        padding: 42px 0 0;
    }
}