.block_place_element {
    display: flex;
    padding: 25px 15px 25px 21px;
    max-width: 246px;
    justify-content: space-between;
    align-items: center;
}
@media screen and (max-width: 1023px) {
    .block_place_element {
        max-width: 290.5px;
    }
}