.block_place_element {
    padding: 29px 15px 31px 21px;
    max-width: 246px;
    justify-content: space-between;
}
@media screen and (max-width: 1023px) {
    .block_place_element {
        max-width: 290.5px;
    }
}