.popup__button_function_submit {
    height: 50px;
    margin: 18px 0 0;
    background-color: #000000;
    border-radius: 2px;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #ffffff;
    box-sizing: border-box;
}
@media screen and (max-width: 767px) {
    .popup__button_function_submit {
        height: 46px;
        margin: 15px 0 0;
        font-size: 14px;
        line-height: 17px;
    }
}